<% content_for :title do %>About<% end %>
<h3>About Duncan Beard</h3>
<p>He was born in Abington, Pennsylvania.
  He lives with his family in Doylestown, Pennsylvania,
  where he attended Plumstead Christian School for middle and high school.
  He then went on to Northeastern University to pursue a degree in
  Computer Science. </p>
<p>His favorite quote is:</p>
<p>"No plan survives first contact with the enemy"</p>
